


 *{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body, html {
    -webkit-overflow-scrolling: touch; 
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #050934;
}
h1{
    text-align: center;
    justify-content: center;
    color: aliceblue;
    margin-top: 20px;
    align-items: center;
    letter-spacing: 5px;
    font-weight: 700;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(300px, 1fr);
    gap: 20px;
    padding: 10px 20px;
    max-width: 1100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}